params {
    workdir = '/N/scratch/chriscs/Linkage/NF_work/'  // scratch, huge, nuke often
    pubdir    = '/N/slate/chriscs/Linkage/'  // outputs copied here
    condadir   = '/N/u/chriscs/Software/miniconda3/envs/linkedNN/'  // conda env
    repo       = "/N/u/chriscs/Software/LinkedNN/"  // git repo
    queueSize = 400  // max jobs in slurm queue (limit at IU is 500)
}

executor {
//    executor = 'local'
    name = 'slurm'
    queueSize = params.queueSize
    pollInterval = '1 sec'
}

process {
    clusterOptions = '--account=r01692'  // slurm account
    cpus = 1  // (specify "1" on cluster to avoid accidentally using extra resources)
}

workDir = params.workdir
resume = true

